.layout_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid rgb(184, 184, 184);

  nav {
    display: flex;
    align-items: center;
    gap: 32px;

    h1 {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
